.DateRangePickerInput_arrow {
    width: 40px;
}

.DateInput_input {
    cursor: pointer;
}

.app {
    font-family: sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.App-intro {
    width: 100%;
    height: 50px;
    background: #838784;
    margin: auto;
}

.App-intro .stock-title {
    float: left;
    margin-left: 20%;
    margin-top: 1.2%;
}

.App-intro .date-range-title {
    float: left;
    margin-left: 10%;
    margin-top: 1.2%;
}

.Stock-selection {
    width: 15%;
    float: left;
    margin-left: 1%;
}

.DateRange-selection {
    margin-top: 0.1%;
    margin-left: 1%;
    float: left;
}

#graph .tick line {
    stroke: lightgrey;
    opacity: 0.7;
}

#graph svg {
    border: 1px solid #d1cbcb;
    margin: 30px;
}

#graph path {
    stroke-width: 0
}

.custom-search-select {
    margin-top: 5px;
    height: 40px;
    overflow-y: scroll;
    width: 150px;
    max-height: 150px;
}

#stock-selection {
    width: 150px;
    margin: 6px;
}

#amount-textInput {
    width: 150px;
}

.input-label {
    float: left;
    margin-left: 4%;
    margin-top: 1.2%;
}

.text-input {
    width: 15%;
    float: left;
    margin-top: 1.2%;
    margin-left: 0.5%;
}

.date-picker-label{
    float: left;
    margin-left: 4%;
    margin-top: 1.2%;
}

.date-picker{
    float: left;
    margin-left: 0.5%;
}