.DateRangePickerInput_arrow {
    width: 40px;
}

.DateInput_input {
    cursor: pointer;
}
.app {
    font-family: sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.App-intro{
    width: 60%;
    height: 50px;
    background: aqua;
    margin: auto;
}

.Stock-selection {
    width: 15%;
    float: left;
    margin-left: 10%;
}

.DateRange-selection {
    margin-right: 10%;
    float: right;
}