.DateRangePickerInput_arrow {
    width: 40px;
}

.DateInput_input {
    cursor: pointer;
}

.app {
    font-family: sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.App-intro {
    width: 60%;
    height: 50px;
    background: aqua;
    margin: auto;
}

.Stock-selection {
    width: 15%;
    float: left;
    margin-left: 10%;
}

.DateRange-selection {
    margin-right: 10%;
    float: right;
}

#graph .tick line {
    stroke: lightgrey;
    opacity: 0.7;
}

#graph svg{
    border:1px solid #d1cbcb;
    margin: 30px;
}

#graph path {
    stroke-width: 0
}
.custom-search-select {
    margin-top: 5px;
    height: 40px;
    overflow-y: scroll;
    width: 150px;
    max-height: 150px;
}

#stock-selection {
    width: 150px;
    margin: 6px;
}